*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

* ::-webkit-scrollbar{
    display: none;
}

.homePage{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

/* Header Styles */

body{
    background-color: #E5E5E5;
}

header{
    padding: 15px 24px;
    background-color: #FCA311;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
}

header a{
    text-decoration: none;
    color: #010C12;
    user-select: none;
    font-weight: bold;
}

.form{
    display: flex;
    justify-content: center;
}

h2{
    color: #010C12;
}

/* Search & Results Styles*/

.search{
    margin: 24px 0;
    width: 70vw;
    border: 1px #14213D solid;
    border-radius: 20px;
    padding: 10px;
}

.darken {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.results {
    position: absolute;
    z-index: 2;
    display: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9));
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 24px;
    width: 90vw;
    max-height: 400px;
    overflow-y: auto;
    left: 50%;
    transform: translateX(-50%);
}

.results.show {
    display: block;
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 24px;
}

.result {
    flex: 0 0 calc(20% - 24px);
    text-align: center;
}

.results a {
    display: block;
    color: #E5E5E5;
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}

/* Main page Styles*/

.mainBookList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 24px;
    margin-top: 20px;
}

.gerneBookList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 24px;
    margin-top: 20px;
}

/* Aside Menu Styles */

aside{
    background-color: #E5E5E5;
    padding-top: 10px;
    border-radius: 5px;
    padding-left: 24px;
}

aside ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding-left: 0;
    justify-content: flex-end;
}

aside li{
    list-style: none;    
    color: #010C12;
    font-weight: 400;
    cursor: pointer;
}

aside li:hover{
    text-decoration: underline;
    font-weight: bold;
}

/* Global Book style */

.book{
    display: flex;
    flex-direction: column;
    width: 130px;
    align-items: center;
}

.book img{
    width: 130px;
    height: 200px;
    object-fit: cover;
}

.book .title{
    font-weight: bold;
    text-overflow: ellipsis;
}

.book .authors{
    text-overflow: ellipsis;
    font-style: italic;
    font-size: 12px;
}

/* Book Details Styles */

.bookDetails{
    display: flex;
    gap: 24px;
}

.bookDetails img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.bookDetails i{
    font-size: small;
}

/* About us Styles */

article{
    display: flex;
    justify-content: space-evenly;
}

article img{
    width: 100%;
}

article i{
    font-size: 12px;
}

/* Footer Styles */
footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100vw;
    height: 50px;
    background-color: #14213D;
    color: #F0F0F0;
}

footer a{
    text-decoration: none;
    color: #F0F0F0;
}

footer a:hover{
    color: #959595;
    transition: 0.5 ease-in;
}

@media (max-width:576px){
    .homePage {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .homePage section{
        display: flex;
        flex-direction: column;
        padding: 0 30px
    };

    .mainBookList{
        margin: 0 30px;
    }

    .bookDetails{
        display: flex;
        flex-direction: column;
    }

    .bookDetails img{
        width: 100%;
        height: 100%;
    }

    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    aside ul{
        align-items: center;
    }   

    article{
        display: flex;
        flex-direction: column;
        padding: 0 24px;
        gap: 24px;
    }
}