*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

section{
    margin: 0 24px;
}

.form{
    display: flex;
    justify-content: center;
}

.search{
    width: 70vw;
    /* height: 30px; */
    border-radius: 20px;
    padding: 10px;
}

.results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.popular{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.book{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
}

.book img{
    width: 130px;
    height: 200px;
}

.title{
    font-weight: bold;
}